{{ template "header" . }}
<div class="px-8 py-12 w-full">
    <h1 class="pt-4 pb-8 text-3xl font-bold text-gray-900">{{.OtherGalleryData.Title}}</h1>
        {{ template "gallery" .OtherGalleryData}}
    {{/* <div class="columns-4 gap-4 space-y-4">
    {{ range .OtherGalleryData.ImageUrls }}
        <div class="h-min w-full">
            <a href="{{.}}">
            <img class="w-full" src="{{.}}">
            </a>
        </div>
    {{ end }}
    </div> */}}
</div>
{{ template "footer"}}