{{template "head" }}
<div class="py-10 flex justify-center">
    <div class="mx-20 px-8 py-8 bg-white rounded shadow">
        <h1 class="py-4 text-center text-xl font-bold text-gray-900">
        If an account exists with the email address you entered, a reset password link will be sent to the email address entered.
        </h1>
    </div>
</div>
{{template "footer" .}}