<h1>FAQ Page</h1>
<ul>
    {{ range . }}
    {{ template "question-answer" . }}
    {{ end}}
</ul>


{{define "question-answer"}}
    <li>
        <b>{{.Question}}</b> <br>
        {{.Answer}}
    </li>
{{end}}