{{ template "header" . }}
<h1>Users</h1>
{{/* <ul>
{{ range . }}
{{template "user-listing" .}}
{{ end }}
</ul>
{{template "footer" . }}

{{define "user-listing"}}
    <li>
    {{template "persona" .}}
    </li>
{{ end }} */}}