{{template "header" .}}
{{template "persona" .}}
{{template "footer" .}}


{{define "persona"}}
<h1>About</h1>
<p>
    <b>Name</b>: {{ .Name }}
</p>
<p>
    <b>Age</b>: {{ .Age }}
</p>
<h2>Skills</h2>
<ul>
    {{ range .Skills }}
    <li>{{.}}</li>
    {{ end }}
</ul>
{{end}}