
{{ template "header" }}
<div class="closable flex bg-red-100 mx-2 py-2 px-2 text-red-800">
    <div class="flex-grow">this is the test alert</div>
    <a href="#" onclick="closeAlert(event)">
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="24" height="24">
  <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5" />
</svg>
</a>
</div>
{{ template "footer" }}
